1.1.IntroduÆo.pdf
10.1.Importando Dados.pdf
11.1.ProgramaÆo.pdf
2.1.RStudio.pdf
3.1.Pacotes.pdf
4.1.Aspectos Diversos.pdf
5.1.Tipos de Dados e Operadores.pdf
6.1.Estruturas de Dados.pdf
7.1.Funäes.pdf
8.1.Ajuda.pdf
9.1.Principais Funäes.pdf
